<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <div th:replace="header :: myheader"></div>
   </head>
   <body id="default_theme" class="home_page1">
      <!-- header -->
      <header class="header header_style1">
         <div th:replace="header :: mylogo"></div>
      </header>
      <section id="banner_parallax" class="slide_banner1">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="full">
                     <div class="slide_cont">
                        <h2>IMO STATE LAND REGISTRY SYSTEM</h2>
                        <p>Search for land title details, Apply for your title documents, Renew your lease agreement</p>
                        <div class="full slide_bt"> <a class="white_bt bt_main" th:href="@{/lrs/buytoken}"><i class="fa fa-shopping-cart"></i> Purchase Your Search Access Code </a> </div>

                        <div class="full slide_bt"> <a class="white_bt bt_main" th:href="@{/lrs/search}"><i class="fa fa-search-plus"></i> Have Access Code? Start Your Search Here</a> </div>

                        <div class="full slide_bt"> <a class="white_bt bt_main" href="index.html"><i class="fa fa-question-circle"></i> Need Support? Read Our Step By Step Guide Here</a> </div>

                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="full">
                     <div class="slide_pc_img wow fadeInRight" data-wow-delay="1s" data-wow-duration="3s"> <img th:src="@{/images/pc-banner.png}" alt="#" /> </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      
      
      <!-- footer -->
      <div th:replace="header :: myfooter"></div>

   </body>
</html>