<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
	<div th:replace="header :: myheader"></div>
   </head>
   
      <body id="default_theme" class="home_page1">
      <!-- header -->
      <header class="header_style1">
         <div th:replace="header :: subheader"></div>
      </header>
      
      <hr>
      <center>
		<section class="layout_padding padding_top_0">
		   <div class="container">
		<div class="btn-custom_success mb-4 col-7 ">
		   <h5> Transaction successful </h5>
		
		   <p> Your transaction details has been sent to the provided email address.</p>
		   <p> Use your reference number and property title number to perform search <a href=""> Here </a></p>
		</div>
		
		<a  class="btn btn-success col-8" th:href="@{/lrs/home}"><i class="fa fa-check-circle"></i> Continue to Search</a>
		
</div>
</section>
</center>
      
      </body>
   
   </html>