
<html>
	<body>
		<div th:fragment="myheader">
		<!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>ILRS - Imo State Land Registry System</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icons -->
      <link rel="icon" href="/images/fevicon/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="/css/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="/css/responsive.css" />
      <!-- colors css -->
      <link rel="stylesheet" href="/css/colors.css" />
      <!-- wow animation css -->
      <link rel="stylesheet" href="/css/animate.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
		</div>
		
		<div th:fragment="mylogo">
		
		<div class="container">
            <div class="row">
               <div class="col-md-9 col-lg-10">
                  <div class="logo"><a href="index.html"><img src="/images/imo_state_logo.jpeg" alt="#" /></a></div>
                  <div class="main_menu float-right">
                     <div class="menu">
                        <!--
                        <ul class="clearfix">
                           <li class="active"><a href="index.html">Home</a></li>
                           <li><a href="about.html">About</a></li>
                           <li><a href="service.html">Service</a></li>
                           <li><a href="screenshots.html">Screenshots</a></li>
                           <li><a href="pricing.html">Pricing</a></li>
                           <li><a href="team.html">Team</a></li>
                           <li><a href="contact.html">Contact</a></li>
                        </ul>

                     -->
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-lg-2">
                  <div class="right_bt"><a class="bt_main" href="index.html"><i class="fa fa-cogs"></i>Admin Access</a> </div>
               </div>
            </div>
         </div>
		
		</div>
		
		<div th:fragment="myfooter">
		<footer class="footer_style_2">

         <!-- footer bottom -->
         <div class="footer_bottom">
            <p>DEMO COPY:Dessigned and developed by <strong>Hypen Deluxe Softwares Limited</strong></p>
         </div>
      </footer>
      <!-- end footer -->
      
      <script src="/js/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/wow.js"></script>
      <script src="/js/custom.js"></script>
		
		</div>
		
		<div th:fragment="subheader">
		
		<div class="container">
            <div class="row">
               <div class="col-md-9 col-lg-10">
                  <div class="logo"><a th:href="@{/lrs/home}"><img th:src="@{/images/imo_state_logo.jpeg}" alt="" /></a></div>

               </div>
               <div class="col-md-3 col-lg-2">
                  <div class="right_bt"><a class="bt_main" th:href="@{/lrs/home}"><i class="fa fa-home"></i> Return to Home</a> </div>
               </div>
            </div>
         </div>
		
		</div>

	</body>

</html>